.checkout-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 700px;
    width: 100%;
}
.checkout{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}