.contact-container{
    height:100%;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 80px;
    height: auto;
    margin: 1.5rem 0;
}
.form-contact-us{
    width: 500px;
    padding: 1rem;
    box-shadow: 6px 9px 27px -1px rgba(144,173,198,0.67);
    -webkit-box-shadow: 6px 9px 27px -1px rgba(144,173,198,0.67);
    -moz-box-shadow: 6px 9px 27px -1px rgba(144,173,198,0.67);
    border-radius: 8px;
}
.form-control{
    width: 100%;
    margin-bottom: 0.7rem;
    transform: 0.8s;
}
.form-control input , .form-control button , .form-control textarea{
    width: 100%;
    border: 1px solid var(--blueGray);
    outline: none;
    height: 40px;
    padding: 8px;
    caret-color: var(--blueGray);
    border-radius: 7px;
}
.form-control input::placeholder,.form-control textarea::placeholder{
    color: var(--blueGray);
}
.contact-us-content p{
    color: var(--blueGray);
    width: 480px;
}
.contact-container h2{
    color: var(--darkBlue);
    font-size:30px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.form-control button{
    color: var(--white);
    background-color: var(--blueGray);
    cursor: pointer;
    transition: all 0.8s;
    font-weight: 700;
    margin-top: 1.5rem;
}
.form-control button:hover{
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #45496d, #4f5a75, #51647a, #294a66);
    box-shadow: 0 4px 15px 0 rgba(120, 148, 172, 0.67);
}

.form-control p{
    margin: 0.5rem 0;
    color: red;
} 

.form-control label {
    color: var(--darkBlue);
    font-size: 18px;
    display: inline-block;
    margin-bottom: 0.5rem;
}

@media (max-width:1100px) {
    .contact-container{
        gap: 30px;
    } 
}

@media (max-width:1050px) {
.contact-us-content p{
    width: 380px;
}
.form-contact-us{
    width: 400px;
}
}
@media (max-width:850px) {
    .contact-container{
        grid-template-columns: 1fr;
        gap: 40px;
    } 
    .form-contact-us{
    width: 100%;
}
.contact-us-content{
    width: 100%;
    text-align: center;
}
.contact-us-content p{
    width: 100%;
}
}
