.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem;
    background-color: #FFBC97;
    color: #F7F7F7;
    position: sticky;
    top: 0;
    left: 0;
}
.brand{
    font-weight: 700;
    font-size: 24px;
}
.menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    list-style: none;
    display: flex;
    margin-right: 1rem;
    font-size: 20px;
}
.menu li{
    margin: 0 0.5rem;
}
.menu a{
    color: #F7F7F7;
    text-decoration: none;
    transition: all 0.7s;
}
.menu a:hover{
    color: #FF7800;
}
.shopping-cart{
    cursor: pointer;
    position: relative;
}
.counter{
    display: inline-flex;
    background-color: #F7F7F7;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 5px;
    left:0;
    color: #FF7800;
    margin-bottom: 30px;
}
.active{
    color:#FF7800
}

@media (max-width:900px){
    .menu{
        display: none;
    }
}