.not-found-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
}
.not-found-container h1{
    color: #FF7800;
    font-size: 24px;
    font-weight: 700;
}
.not-found-container p{
    color: #FFBC97;
    margin: 1rem 0;
}
.not-found-container a{
    text-decoration: none;
    color: #F7F7F7;
    background-color: #FF7800;
    padding: 1rem;
    border-radius: 7px;
    text-align: center;
    transition: all 1s ease-out;
}
.not-found-container a:hover{
    width: 180px;
}