
.container{
  margin: 30px 0;
}
.container h1{
 text-align: center;
}
.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 30px 0;
    height: var(100vh - 50px);
    padding:0 1.5rem;
}


@media (max-width:900px){
 .products{
    grid-template-columns: repeat(3,1fr); 
}
  
}
@media (max-width:768px){
 .products{
    grid-template-columns: repeat(2,1fr); 
}
  
}
@media (max-width:570px){
 .products{
    grid-template-columns: repeat(1,1fr); 
}
  
}