.product-container{
    width: 100%;
    box-shadow: 6px 9px 27px -1px rgba(144,173,198,0.67);
    -webkit-box-shadow: 6px 9px 27px -1px rgba(144,173,198,0.67);
    -moz-box-shadow: 6px 9px 27px -1px rgba(144,173,198,0.67);
    border-radius:8px;
}
.product-container h2{
    height: 80px;
    font-size: 18px;
    color:var(--darkBlue);
    padding: 1rem;
    word-spacing: -4px;
}
.product-container img{
    width: 100%;
    height: 250px;
}
.detail-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
}
.detail-container .price p{
    color:var(--yellow);
    font-size: 20px;
    font-weight: 600;
}
.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.btn-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
 .add-cart{
    border: none;
    outline: none;
    padding: 1rem 1.5rem;
    border-radius: 7px;
    background-color: var(--darkBlue);
    color: var(--white);
    cursor: pointer;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.add-cart:hover{
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #45496d, #4f5a75, #51647a, #294a66);
    box-shadow: 0 4px 15px 0 rgba(120, 148, 172, 0.67);
}


.delete-icon , .mines-icon , .plus-icon{
    cursor: pointer;
    color:var(--darkBlue);
    background: var(--white);
}
.item-counter{
    display: inline-block;
    margin: 0 1rem;
    font-size: 20px;
    color: var(--darkBlue);
}